
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-okt-2014, 16:19:23
    Author     : Tim
*/

      


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #2d2f31;
}

.nav {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    min-height: 75px;
    background-color: rgba(0,128,198,1);
    
}
.navbar-default .sidebar {
    background-color: #2d2f31;
    margin-top: 75px;
}



.btn-default{

}

a {
  color: #0080c6;
  text-decoration: none;
}

.sidebar-nav a {
    color: #fff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #0080c6;

}
.dropdown-toggle {
    background-color: #0080c6;
    color: #fff;
}

#page-wrapper {
     background-color: #dfebf5;
     padding-top: 20px;
     padding-bottom: 60px;
}

#page-wrapper > div > div > div:nth-child(2) > div.col-sm-9 > div {
    background-color: #fff;
}

#page-wrapper > div > div > div:nth-child(3) > div.col-sm-9 > div {
     background-color: #fff;
}

